/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #2193b0, #6dd5ed); /* Default gradient */
  color: white;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.2); /* Glass effect */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.weather-card {
  padding: 15px;
  border-radius: 10px;
}
.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.search-box input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 180px;
}

.search-box button {
  background: #f39c12;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #e67e22;
}

.city {
  font-size: 24px;
  font-weight: bold;
}

.temperature {
  font-size: 30px;
  margin-top: 10px;
}

.weather-description {
  font-size: 18px;
  font-style: italic;
}
